body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #222;
}

/* Header */
header {
    background-color: #9eaa83;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-placeholder {
    width: 40px;
    height: 40px;
    background-color: #cfcfcf;
    border-radius: 6px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Section */
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #f5f5f5;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.image-placeholder {
    width: 500px;
    height: 280px;
    background-color: #e2e2e2;
    margin: 50px auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: 18px;
}

/* Links Section */
.links-section {
    padding: 60px 40px;
}

.links-section h2 {
    font-size: 22px;
    margin-bottom: 40px;
}

.links-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.link-box {
    width: 28%;
    min-width: 250px;
}

.icon-placeholder {
    width: 25px;
    height: 25px;
    background-color: #cfcfcf;
    border-radius: 50%;
    margin-bottom: 10px;
}

.link-box h3 {
    margin: 5px 0;
    font-size: 18px;
}

.link-box p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}
/* Footer */
footer {
    background-color: #9eaa83;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}